<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="T100Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <T100Test.Properties.Settings>
            <setting name="T100Test_T100WBS_TIPTOPServiceGateWay" serializeAs="String">
                <value>http://192.168.10.1/wtoptst/ws/r/awsp900</value>
            </setting>
            <setting name="T100Test_test_Service1" serializeAs="String">
                <value>http://192.168.3.50:1234/Service1.asmx</value>
            </setting>
        </T100Test.Properties.Settings>
    </applicationSettings>
</configuration>